{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}

<div class="content">
<div class="center_content">

<p>Great Reasons to Join</p>

Help protect and improve the health and well-being of all Ugandans. No matter what your background, you’ll play an important role in building a healthy nation.

<p>Career Development</p>
BLINK-NET offers a wide range of opportunities available for highly motivated individuals with the passion and vigour who are keen to join us in championing a healthy nation with our people. We also encourage our officers to seek continuous professional and personal growth.

<p>Internships</p>

Get a headstart in your future career with the BLINK-NET internship placement. 

<p>Scholarships</p>

B-Link offers scholarships

</div>
</div> 

{% endblock %}