{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}

       

     <div class="content">

<b>Costs and Financing </b></br>


<b>Healthcare Financing Philosophy</b>
Singapore offers universal healthcare coverage to our citizens, with a financing system anchored on the twin philosophies of individual responsibility and affordable healthcare for all. Through a mixed financing system, use of market-based mechanisms to promote competition and transparency and the adoption of technology to improve the delivery of healthcare services, we have secured good healthcare outcomes for our population. We have done so with a national healthcare expenditure of about 4% of our GDP, which is low among developed countries (although this is expected to grow with an ageing population).</br>

These features of the Singapore system have been recognised in various international assessments.  We intend to continually evolve and improve our policies over time.</br>

<b>Universal coverage, multiple layers of protection</b>
We have evolved a mixed financing system, with multiple tiers of protection to ensure that no Singaporean is denied access to basic healthcare because of affordability issues.</br>
<b>Organisation of service delivery</b></br>
Singapore today has a mixed delivery model. The public sector dominates the acute care sector, delivering 80% of the care in this sector. The primary care sector is dominated by private sector providers, which account for about 80% of the market. In the step-down care sector (e.g. nursing homes, community hospitals and hospices), service provision is mainly provided by voluntary welfare organisations, most of which are funded by the Government for their services rendered to patients.

(Click here for more info)</br>

<b>Promoting competition and transparency</b>
In 2004, the Ministry of Health began to publish hospital bill sizes to show the variation in costs among our hospitals, with a view to push our hospitals on this effort to “do more with less”.  There have been some successes since then in spurring improvements, e.g. LASIK prices dropped by more than S$1,000 per eye and the competitive price wars continue to this day, at great benefit to consumers. The Ministry has also progressively published health outcomes on the website to encourage further improvements and help patients make more informed choices.</br>

Includes all CPF members (Singaporeans and PRs) with positive balances in their Medisave Account as at 31 December of the year.



           </div>
 {% endblock %}
