{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}
       

     <div class="content">

     Diseases and Conditions </br>


MOH promotes health and reduces illness in Singapore through the prevention and control of major communicable diseases outbreak. In this section, you will find updates of latest disease threats, public advisories, and relevant educational materials.

<p>List of Infectious Diseases legally notifiable under the Infectious Diseases Act</p>

<ol><b>Diseases and Conditions </b>

    <li>Hand, Foot and Mouth Disease</li>
    <li>Zika</li>

<li>Influenza</li>

<li>Dengue</li>
<li>AIDs/HIV</li>


<li>Norovirus Gastroenteritis (Gastric Flu)</li>
    
   <li> Dengue</li>
   
  
    <li>Norovirus Gastroenteritis</li>
    <li>Tuberculosis</li>

</ol>

  </div>
  
      {% endblock %}
  
