{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filters %}



{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<span class="divider"><i class="icon-angle-right"></i></span>
</li>
<li>{{ page_title |capfirst }}</li>
</ul>
{% endblock %}


{% block pretitle %}
{{pretitle |capfirst  }}        
{% endblock %}


{% block content %}



<section class="row-fluid">
      <div class="span12">
        <div class="module no-head message">
          <div class="module-body no-padding">
            <div class="module-option">
              <div class="row-fluid">
                <div class="span8">
                 
                </div>
                


              </div>
            </div>

            <table class="table table-utilities vertical-top">
              <tbody>


              
                <tr>
                  <td class="cell-detail">
                    
                    

                  <div class="span8">

                  <div class="people-brief">
                      
                      <table class="table table-bordered">

                        <tr>
            <td><a href="{% url 'dentist' %}">Dentist</a></td>
       
           

          </tr>

                    <tr>
            <td><a href="{% url 'surgeon' %}">Surgeon</a></td>
           
           
           

          </tr>

                    <tr>
            <td><a href="{% url 'gendoctor' %}">General Doctors</a></td>
          
           
 

          

           

                  <tr>
                  <td class="cell-detail">
                    
                    

                  <div class="span8">

                    <div class="people-brief">
           


                    </div>
                    </div>


                 
                  <div class="span4 action-buttons users ">
                  
                  

                  
              


                  </td>
                </tr>

             

           

               
              </tbody>
            </table>


            <div class="module-option">
              <div class="row-fluid">
                <div class="span8 hidden-phone">
                  <!--
                  <div style="line-height: 30px">
                    Displaying <b> {{ user.number }} </b> of {{admin_data.user_count}} users
                  </div>
                  -->

       

                </div>
                <div class="span11 message-navigation align-right">
                  <div class="btn-toolbar">
                    <div class=" btn-group">
                    <!--
                      <button class="btn"><i class="icon-chevron-left"></i></button>
                      <button class="btn"><i class="icon-chevron-right"></i></button>

            <div class="module-option">
              <div class="row-fluid">
                <div class="span8 hidden-phone">
                  <!--
                  <div style="line-height: 30px">
                    Displaying <b> {{ user.number }} </b> of {{admin_data.user_count}} users
                  </div>
                  -->

       

                </div>
                <div class="span11 message-navigation align-right">
                  <div class="btn-toolbar">
                    <div class=" btn-group">


                    </div>
                  </div>
                </div>
              </div>
            </div>

            

          </div><!--/.module-body-->
        </div><!--/.module.message-->
      </div><!--/.span12-->
    </section>








{% endblock %}




