{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}

<strong><u>e-Consultation</u></strong>


<p>Ministry of Health often engages the public regarding proposed amendments to existing regulations or to any proposed new regulations. Public feedback plays an integral part in helping the Ministry formulate and fine-tune our policies and improve our services.</p>


 

<p>The e-Consultation portal enables the public to submit their feedback easily. You may wish to visit the portal to view the list of current and past consultations that the Ministry had conducted. More</p>
{% endblock %}