
{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}


<div class="contented"><h2>Education Programmes</h2>

<p> Education is the key to empowering women and girls, which helps bring about social equality. Girls’ education programme works on improving lives and providing opportunities for girls and women through increased participation in formal and alternative education systems. The program builds on innovative pilot projects and strategic partnerships developed by B-Link over the last decade. B-Link works closely with government-run schools and the different levels within the Government. B-Link works to help girls’ complete primary education and access formal schools through accelerated learning methodology and provide academic support to enhance the quality of learning. We also help nurture leadership skills amongst girls and offer alternative education opportunities for women and girls who have never been enrolled or have dropped out early from school. </p></div>

  <h2>Doctor's Message</h2>
<div>
{% for educ_info in educ_info %}
  <div class="panel panel-default" style="width:600px;">
    <div class="panel-heading">{{educ_info.sub}}
</div>
    <div class="panel-body">{{educ_info.msg}}</div>
  </div>
{% endfor %}
      
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/accounting.min.js"></script>
<script type="text/javascript">
    
$(function(){


var remit = new Remit({{landingformdata | safe}});
remit.LandingForm();

});

</script>
{% endblock %}