{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}

<strong><u>Fundings and Medical Research</u></strong> 

<p><b><u>Health Research</u></b></p>

<p>The Ministry focuses on scientific and health research with the aim of driving the translation of basic research to advance human healthcare, and to increase the translational and clinical research capabilities of public hospitals, research institutions and medical researchers.</p>

<p>The National Medical Research Council (NMRC) was established by  BLINK-NET to engender the growth of research talent, to support high quality scientific and clinical research, and to improve medical care and human health in Singapore. The NMRC supports the development of core manpower and research capabilities and fund research programmes and projects carried out by restructured hospitals, national disease centres and public tertiary educational institutions. The NMRC also awards health research fellowships for the development of health research manpower.</p>

<p>The Health Services Research Competitive Research Grant is a new MOH research grant established in 2009. This Competitive Research Grant aims to promote the conduct of Health Services Research (HSR) and enable the translation of HSR findings into policy and practice.</p>

<p>The Communicable Diseases – Public Health Research Grant (CD-PHRG), awarded by MOH is a newly established grant to encourage researchers to work on strategic research topics with major public health (PH) impact for Singapore, particularly in the area of Communicable Diseases (CD). </p>

<p>The Traditional Chinese Medicine Research Grant (TCMRG) is a grant established by BLINK-NET to encourage local collaborative research in Traditional Chinese Medicine (TCM). It seeks to harness TCM principles and scientific research methodologies and expertise to promote the translation of TCM knowledge into better care and improved health outcomes on a sustainable basis, and to enhance the role of TCM in policy and practice in Singapore.</p>

 
<p><b><u>Funding </u></b></p>

<p><b>Health Research Endowment Fund (HREF)</b></p>
<p>The HREF encourages and supports health research in Singapore. HREF members issue tax-deductible receipts for outright cash donations received in support of health research.
Find out more ...</p>

<p><b>Care-at-Home Innovation Grant</b></p>

<p>BLINK-NET will launch the Care-at-Home Innovation Grant on 21 Aug 2015. The objective of the Care-at-Home Innovation Grant is to encourage greater innovation and adoption of technology by providers to serve home care clients in more productive and cost-effective manner. This can be through the use of operations research, data analytics, technologies and/or business process redesign to revamp the current delivery of home care services. Find out more </p>
{% endblock %}