{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}
       
    

<h1>Policies and Issues</h1></br>


<h2>Human Organ Transplant Act (Hota)</h2>

On 6 January 2004, the Human Organ Transplant (Amendment) Bill was passed by Parliament to allow more Singaporeans to benefit from cadaveric organs by extending HOTA beyond kidney to also include liver, heart and cornea. It was also extended beyond cadaveric donations to include all causes of death. This bold new move has helped to save an additional 218 lives. Yet, there are more than 600 patients waiting for an organ transplant in Singapore. Moreover, the demand for cadaveric organs for transplant continues to increase rapidly. More >> </br>

<h2>BioSafety</h2>

The website provides information on the Biological Agents and Toxins Regulatory Scheme, with the aim of protecting national biosafety and biosecurity through the promotion of compliance and safe practices in bio-research and the bio-medical community. More >></br>
<h1>Other Policies & Issues</h1></br>
<h2>Advance Medical Directive (AMD)</h2>

An Advance Medical Directive (AMD) is a legal document you sign in advance to inform your doctor that you do not want the use of any life-sustaining treatment to be used to prolong your life in the event you become terminally ill and unconscious and where death is imminent. More »

       {% endblock %}

  