{% extends "v2_base.html" %}


{% block content %}



<section class="tos">
<div class="content margin" style="margin-top:30px;">
<div class="page-header">
       

Rate this Website

<p>Thank you for using our website. We would appreciate if you can take a few seconds to rate our website.</p>


<p>Is the information easy to understand? </p>
<p>(1 = Not Easy; 6 = Very Easy)</p>
<p>1 	2 	3 	4 	5 	6 </p>


<p>Are the contents relevant to your needs? </p>
<p>(1 = Not Relevant; 6 = Very Relevant)</p>
<p>1 	2 	3 	4 	5 	6</p>


<p>How satisfied are you with the information provided?</p>
<p>(1 = Not Satisfied at all; 6 = Extremely Satisfied)</p>
<p>1 	2 	3 	4 	5 	6 </p>


<p>Please give us your comments.</p>
<p>(If you would like us to respond to your comments, please provide your contact details)</p>





    </div>
    </section>

{% endblock %}
