{% extends "v2_base.html" %}


{% block wrapperid %}login_form_wrapper{%endblock%}

{% block content %}



<div class="container banner_container login_form_wrapper"><!--start container-->
            <div class="banner">
                <div class="center_content">
                  

                    <div id="send_money" class="login_form">
                    <!--
                        <h2>Send money to mobile in minutes</h2>
                        -->

                      {% if can_change_password %}  



                        <form   id="send_money_form" method="POST">

                        

                        {% csrf_token %}
                            <div class="input_row select_row">
                                <label><h2>Recover your password</h2></label>
                            </div>
                            {% include "notifications.html" %}
                            <div class="input_row input_row2">
                                <label>New password</label>
                                <div class="input_box">
                                    <input type="password"  id="new_password1" name="new_password1"  placeholder="password" required>
                                    <div class="clearfix"></div>
                                </div>
                            </div>


                            <div class="input_row input_row2">
                                <label>Verify password</label>
                                <div class="input_box">
                                    <input type="password"  id="new_password2" name="new_password2"  placeholder="verify password" required>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <script type='text/javascript'>
//form validation
  $(document).ready(function(){
    $("#send_money_form").validate({
    rules:{
            new_password1:
            {
            required:true,
            minlength:5,
            },
          new_password2: {
          required:true,
          equalTo: '#new_password1',
          }
    },
          messages: {
      new_password2: {
        required: "Repeat your password",
        equalTo: "Enter the same password"
      },
    },
    });
    });

</script>


                            <div class="input_row">
                                <input type="submit" name="submit" value="Recover Password" >
                            </div>

                        </form>
                    {% else %}

                        <form action='{% url "recoverpassword" %}' id="send_money_form" method="POST">

                        

                        {% csrf_token %}
                            <div class="input_row select_row">
                            	<label><h2>Recover your password</h2></label>
                            </div>
                            {% include "notifications.html" %}
                            <div class="input_row input_row2">
                                <label>Email address</label>
                                <div class="input_box">
                                    <input type="email" id="id_email" name="id_email" placeholder="email" required>
                                    <div class="clearfix"></div>
                                </div>
                            </div>



                            <div class="input_row">
                                <input type="submit" name="submit" value="Recover Password" >
                            </div>
                        </form>

                       {% endif%} 

                    </div>
                </div>
            </div>
      	</div><!--//end .container-->
       
<script type='text/javascript' src='{{STATIC_URL}}js/jquery.form-validation.js'></script>

    <script type='text/javascript'>
//form validation
  $(document).ready(function(){
    $("#send_money_form").validate({
    rules:{

            id_email:
            {
            required:true,
            email:true,
            }
    },
          messages: {
        id_email: {
        required: "Rlease Provide your email address",
        email: "Please provide a valid email address"
      },
    },
    });
    });

</script>


{% endblock %}