{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}

<u><strong>Statistics</strong></u> 


<p>This section contains information and statistics related to the state of health in Singapore, the operations of our hospitals, as well as the surveillance of infectious diseases in the country.</p>
<p><strong>Singapore Health Facts</strong></p>

<p>Contains information and statistics on Singapore’s health status, population data, causes of death, health facilities, etc. More</p>
<p><strong>Healthcare Institution Statistics</strong></p>

<p>Contains statistics on hospital admissions, hospital statistics, patient bill sizes, hospital discharges by disease conditions, etc. More></p>

<p><strong>Infectious Diseases Surveillance</strong></p>



<p>The Ministry systematically monitors the incidence of infectious diseases in Singapore through various surveillance systems. The data and findings are complied and available for downloading:</p>

<table><tr><td>Weekly Infectious Diseases Bulletin</td></tr><tr><td>Epidemiological News Bulletin</td></tr><tr><td>HIV Statistics</td></tr></table>


<p><strong>Chikungunya Update</strong></p>

    <p>Please refer to the Weekly Infectious Diseases Bulletin for updates on Chikungunya fever cases in Singapore</p>


{% endblock%}