
{% extends "v2_base.html" %}
{% load custom_filters %}
{% load humanize %}


{% block content %}

<div class="content">
<div class="center_content">
    <p>
    HealthLink is a support organisation. With a three tier support structure, HealthLink sees its support capability as a key part of Certainty in Care.</p>
    <p>Support </p>

     <p>Contact Support </p>

     <p>Getting help is certainly easy. HealthLink operates in three countries across 5 time zones.

    View more </p>
    <p> Knowledge Base </p>

    <p> Get help at the speed you want. There are guides and videos to help users get fully functional.

    View more </p>
    <p> Software Downloads </p>

     <p>Download the latest version of the HealthLink Client.

    View more </p>
     <p>Remote Support </p>

     <p>Healthcare operates in all sorts of metropolitan and regional places. HealthLink provides easy, secure and support remotely.

    View more </p>
     <p>Service Status </p>

     <p>Certainty in Care needs applications and infrastructure that runs 24/7. HealthLink’s services are monitored all day every day.

    View more </p>
    {% endblock %}