{% extends "email/base.html" %}

{% load custom_filters %}

{% block content %}

{% if mobile_money_sent %}

<p>

  You have received a
  {% if data.billtype == 1 %}
  Electricity
  {% else %}
  Water
  {% endif %}
  payment of UGX {{data.display_amount_received }} from {{data.sender_names}} via useremit.com
  {{% if data.billtype == "1" %}}
  The token is {{data.transaction_id}}
  {% endif %}

</p>
<p> Login to <a href='{{BASE_URL}}'>{{APP_NAME}}</a> to see your transaction history. </p>

{% endif %}

{% endblock %}
