.home_inner_wrapper{
	width: 90% !important;	
}
.table_detail {
width: 60% !important;
}

.rate_field
{
width: 190px;
height: 38px;
border: 1px solid #C7CFDE;
background-color: white;
padding: 0 12px;
text-align: left;
font-weight: 500;
font-size: 20px;
color: #172A33;
display: block;
float: left;
margin-right: 5px;	
}

#rate_modifiy_table .table_detail
{
}

.container {
width: 80% !important;
}

.table_detail {
    width: 80%;
}