
{% if activate_sms_form%}

{% include "verifyphoneform.html" %}

{% endif %}



{% if provide_userdetails_form %}

{% include "userdetailsform.html" %}

{% endif %}


{% if upload_id_form and not activate_sms_form %}

{% include "uploadidform.html" %}


{%endif%}




<div class="home_inner_wrapper" id="top">

<div class="navbar header">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 id="branding" class="pull-left">
            <a href="{{BASE_URL}}"><img src="{{STATIC_URL}}images/remit_out_ug.png" style="height: 40px;"></a>
          </h1>
          <div class="nav-collapse collapse pull-right">
            

            <ul class="nav"> 
            {% for o in logged_in_LINKS %}
            <li class="{%if o == PAGE_NAME %} active {% endif %}">
            <a href="{{BASE_URL}}{{ o }}">{{ o|capfirst }}</a>
            </li>
            {% endfor %}

            </ul>



          </div><!--/.nav-collapse -->
        </div>
      </div>  
      </div>

<div class="outer_header">

<div class="navbar navbar-inverse">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse pull-left">
                        <ul class="nav uppercase">
                            <li class=""><a href="{% url 'about_us' %}">About us</a></li>

                            <li>
                                <a href="{% url 'how_it_works' %}">How it works</a>
                            </li>
                <li>
                <a href="{% url 'contact_us'%}">Contact us</a>
              </li>
                                      </ul>
                        </div>
                        <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                        <li class="social-icons"><a target="__blank" href="https://www.facebook.com/RemitUg"><img src="{{STATIC_URL}}images/facebook.png"></a></li>
                        <li class="social-icons"><a target="__blank" href="https://twitter.com/RemitUg"><img src="{{STATIC_URL}}images/twitter.png"></a></li>
                        </ul>
                        </div>
                        </div>
                        </div>


</div>



<div class="inner_navbar inner_center">

            <ul class="top-nav-bar nav pull-left">
              
             

            

            </ul>


            <ul class="top-nav-bar nav pull-right">
              


               <li class="dropdown top-nav_first_child">
                <a href="{% url 'index' %}">
                    Home
                  </a>
              </li>

              {% if request.user.is_authenticated %}

              <li class="dropdown">
                <a href="{% url 'transactions' %}">
                    Transactions
                  </a>
              </li>

              <li class="dropdown">
                <a href="{% url 'phonebook' %}">
                    Phone Book
                  </a>
              </li>


              
    
              

              <li class="dropdown">
                <a href="{% url 'preferences' %}">
                    preferences
                  </a>
              </li>

              <li class="dropdown top-nav_first_child ">
                <a href="{% url 'account' %}" class="highlight">
                    Account
                  </a>
              </li>


              
    
              

              <li class="dropdown">
                <a href="{% url 'signout' %}">
                    Log Out
                  </a>
              </li>

              {%else%}

              <li class="dropdown">
                <a href="{% url 'how_it_works' %}">
                    How Remit Works
                  </a>
              </li>

 

              


               <li class="dropdown">
                <a href="{% url 'signup' %}" class="highlight">
                    Signup
                  </a>
              </li>

              <li class="dropdown">
                <a href="{% url 'login' %}">
                    Login
                  </a>
              </li>


              
    
              

              


              {%endif%}

            </ul>


</div>



<div class="container inner_pages inner_center">

{% if email_not_verified %}
{% include "email_not_verified.html" %}
{% endif %}


{% if phone_not_verified %}
{% include "phone_not_verified.html" %}
{% endif %}




<!-- Notifications-->
<div class="mobile-notifications">
{% include "notifications.html" %}
</div>