 <div style="display:none;" id="phonebook_area_modal" class="modal-backdrop fade in"></div>
      <div style="display:none; " class="modal hide fade in" id="phonebook_area_wrapper">
           <form onsubmit="return false;" id="phonebook_area_form">
            <div class="modal-header">
              <a onclick="togglePhoneModal(true)" class="close" href="#">×</a>
              <h3>Add Number To Phonebook</h3>
            </div>
            <div id="secure_area_message"></div>
            <div class="modal-body">
            
            <div style="width:100%;display:block;overflow:hidden;">
            
            <div style="width:40%;float:left;" class="clearfix">
            <div class="input-prepend">
            <span class="add-on">First Name</span>
            <input type="text" size="30" name="store_firstname" id="store_firstname" class="span2">
            </div>
            </div>
            
            <div style="width:40%;float:left;margin-left:50px;" class="clearfix">
          
             <div class="input-prepend">
            <span class="add-on">Last Name</span> 
             <input type="text" size="30" name="store_lastname" id="store_lastname" class="span2">
            </div>
            </div>
            </div>


           <div class="clearfix">
            <label style="width:100% !important;text-align:left;" for="">Phonenumber</label>

            <div class="input">

              <div class="input-group">
            <div class="input-group-btn">
                  <select id="store_phonenumber_ext" name="store_phonenumber_ext" class="right_select">
              <option value="77">077</option>
<option value="78">078</option>
<option value="75">075</option>
<option value="70">070</option>
              </select> 
</div>
 <input type="text" size="30" name="store_phonenumber" id="store_phonenumber" class="form-control">        
 </div>

 <input type="hidden" value="256" id="phonenumber_select" name="store_phonenumber_select" class="span2">
            <!--
            <select >
                <option value="256">Uganda</option>
              </select>  
              -->
          

           
            </div>
            </div>

            </div>

            <div class="modal-footer">
               <input type="submit" value="Save Number" class="btn primary">
              <a onclick="togglePhoneModal(true)" class="btn secondary" href="#">Cancel</a>
             
            </div>
          </form>
          </div>
          <script type="text/javascript">

          function addToPhonebook(reload)
{
//do the search
//start the ajax
var myform = $('#phonebook_area_form');
var disabled = myform.find(':input:disabled').removeAttr('disabled');
 // serialize the form
var serialized = myform.serialize();

 // re-disabled the set of inputs that you previously enabled
disabled.attr('disabled','disabled')

    $.ajax({
      //this is the php file that processes the data and send mail
      url: ""+SERVER_PATH+"form_server.php",

      //GET method is used
      type: "GET",

      //pass the data
      data: 'addtophonebook=true&amp;'+serialized,

      //Do not cache the page
      cache: false,

             beforeSend: function(){
            $('#loading').show();
            },
             complete: function(){
             $('#loading').hide();
            },


      //success
      success: function (html) {
                  var obj = jQuery.parseJSON(html);
                  if(obj.add)
                   {
                   
                    togglePhoneModal(1);
                    add_success_msg_soft('The Phonenumber Was Successfully Added');

                    if(reload)
                    {
                      window.location.reload();
                    }


                   }else
                   {
                   
                    togglePhoneModal(1)
                   }  
        },

            error : function ()
            {

            }


    });
}

          function togglePhoneModal(val)
          {
            $('#add_to_phonebook').hide();

            if(val)
            {
                $('#phonebook_area_wrapper').hide();
                $('#phonebook_area_modal').hide();

            }else
            {
               $('#phonebook_area_wrapper').show();
                $('#phonebook_area_modal').show();

                //append the phonenumber
                $("#store_phonenumber").val($("#sendmoney_phonenumber").val());
                
$('#store_firstname').val($('#signup_fname').val());
$('#store_lastname').val($('#signup_lname').val());

            }
            return false;
          }

          //form validation
  $(document).ready(function(){
    $("#phonebook_area_form").validate({
    rules:{
      store_phonenumber:{
      required:true,
      digits: true,
      min:0000000,
      minlength:7,
      maxlength:7
      },
      store_firstname:{
        required:true
      },
       store_lastname:{
        required:true
      },
      },
          messages: {
       store_phonenumber: {
        required: "Please provide a phonenumber",
        digits:"Please provide a Valid phonenumber",
        minlength: "Please provide a Valid phonenumber",
      },
    },submitHandler: function(form) {
    addToPhonebook();
    }
    });
});


          </script>
 