<div class="container line_bg"><!--start container-->
            <div class="center_content">
                <div class="content">
                    <h2>How Remit <strong>Works</strong></h2>
                    <p style="font-size:19px;">Send money to <strong>Uganda,</strong> <strong>Kenya</strong> or <strong>Rwanda</strong>. As easy as 1-2-3...  </p>
                    <div id="horizontalTab">
                        <ul>
                            <li><a href="#tab-1">Select country <small>01</small></a></li>
                            <li><a href="#tab-2">Add recipient details <small>02</small></a></li>
                            <li><a href="#tab-3">Money is delivered <small>03</small></a></li>
                        </ul>
                        <div id="tab-1">
                            <div class="tabcontent">
                                <div class="lft_tab">
                                    <strong>01</strong>
                                    <h3>Select country</h3>
                                    <p>Start by telling us the country you would like to send money to, we will show you our fees and guaranteed exchange rates so that you know exactly how much the recipient will get.</p>
                                    <div class="btnarea">
                                        <a href="{% url 'faq' %}" class="btn btn_readmore">Read More</a>
                                        <a href="{% url 'signup' %}" class="btn btn_readmore">START SENDING NOW</a>
                                    </div>
                                </div>
                                <div class="rgt_tab">
                                   <div class="rgt_tab_pic"><img src="{{STATIC_URL}}images/tab_pic.png" alt="tab"></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2">
                            <div class="tabcontent">
                                <div class="lft_tab">
                                    <strong>02</strong>
                                    <h3>Add recipient information</h3>
                                    <p>Enter the recipient's registered mobile money phone number or choose from a list of people you've sent money to in the past. Then, enter the amount you want to send and provide your payment information. Remit accepts major cards including MasterCard and Visa</p>
                                    <div class="btnarea">
                                        <a href="{% url 'faq' %}" class="btn btn_readmore">Read More</a>
                                        <a href="{% url 'signup' %}" class="btn btn_readmore">START SENDING NOW</a>
                                    </div>
                                </div>
                                <div class="rgt_tab">
                                   <div class="rgt_tab_pic"><img src="{{STATIC_URL}}images/tab_pic.png" alt="tab"></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3">
                            <div class="tabcontent">
                                <div class="lft_tab">
                                    <strong>03</strong>
                                    <h3>Money is delievered</h3>
                                    <p>Money will be instatntly delievered to mobile money. Both the sender and the recipient will get notifications by SMS or email when the money has been received. </p>
                                    <div class="btnarea">
                                        <a href="{% url 'faq' %}" class="btn btn_readmore">Read More</a>
                                        <a href="{% url 'signup' %}" class="btn btn_readmore">START SENDING NOW</a>
                                    </div>
                                </div>
                                <div class="rgt_tab">
                                   <div class="rgt_tab_pic"><img src="{{STATIC_URL}}images/tab_pic.png" alt="tab"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div><!--//end .container-->
