{% if activate_sms_form%}

{% include "verifyphoneform.html" %}

{% endif %}



{% if provide_userdetails_form %}

{% include "userdetailsform.html" %}

{% endif %}


{% if upload_id_form and not activate_sms_form %}

{% include "uploadidform.html" %}


{%endif%}




<div class="home_inner_wrapper" id="top">
<div class="navbar header">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 id="branding" class="pull-left">
            <a href="{{BASE_URL}}"><img src="{{STATIC_URL}}images/remit_out_ug.png" style="height: 40px;"></a>
          </h1>
          <div class="nav-collapse collapse pull-right">
            

            <ul class="nav"> 
            {% for o in logged_in_LINKS %}
            <li class="{%if o == PAGE_NAME %} active {% endif %}">
            <a href="{{BASE_URL}}{{ o }}">{{ o|capfirst }}</a>
            </li>
            {% endfor %}

            </ul>



          </div><!--/.nav-collapse -->
        </div>
      </div>  
      </div>


<div class="container inner_pages">

{% if email_not_verified %}
<div class="alert alert alert-error notification"  style="display:block;overflow:hidden;">
<div class="resendemail_message"></div>
<div class="col-sm-6">
We sent a verification email to <u>{{request.user.email}}</u>.<br />
Please click the link in the email to finish setting up your {{DOMAIN_NAME}} account.
</div>
<div class="col-sm-3">
<a  class="btn primary" onclick="resendEmailVerification()">Click here to resend the verification email</a>
</div>

<script type="text/javascript">
  
  function resendEmailVerification(){
    $.ajax({
      //this is the php file that processes the data and send mail
      url: '{% url "resend_verification_email" %}',

      //GET method is used
      type: "GET",

      //pass the data
      //data: '&logout=true&',
      //Do not cache the page
      cache: false,

             beforeSend: function(){
             $('#loading').show();
            },
             complete: function(){
              $('#loading').hide();
            },


      //success
      success: function (html) {
        $('.resendemail_message').html(html)
      },

    });
}

</script>

</div>
{% endif %}






<!-- Notifications-->
{% include "notifications.html" %}