<div class="recover_password_wrapper">
{% if can_change_password %}
<div class="home_content_header"> 
<div id="introhome">
Pick A New  Password
</div>

<form id="changeloginform_form" method="POST">
<div style="width:100%;margin-top:5px;">
<div id="changepassword_message">
  {% include "notifications.html" %}
</div>


<div class="clearfix">
<div class="input-prepend">
<span class="add-on">New password</span>
<input class="span4" id="new_password1" name="new_password1" size="30" type="password" placeholder="new password">
</div>
</div>


<div class="clearfix">
<div class="input-prepend">
<span class="add-on">Verify password</span>
<input class="span4" id="new_password2" name="new_password2" type="password" placeholder="verify new password">
 <input value="<?php echo $_GET['email']?>" name="reset"  type="hidden" id="reset">
</div>
</div>

<div class="clearfix">
            <input type="submit" class="btn primary" value="Submit">&nbsp;<button type="reset" id="clear_changepass_form" class="btn">Clear</button>
</div>


</div>
{% csrf_token %}
</form>
<script type='text/javascript'>
//form validation
  $(document).ready(function(){
    $("#changeloginform_form").validate({
    rules:{
            new_password1:
            {
            required:true,
            minlength:5,
            },
          new_password2: {
          required:true,
          equalTo: '#new_password1',
          }
    },
          messages: {
      new_password2: {
        required: "Repeat your password",
        equalTo: "Enter the same password"
      },
    },
    });
    });

</script>

{% else %}
<div class="home_content_header"> 
<div id="introhome">
Recover Your Password
</div>

<form id="recoverpasswordform_form" method="POST" action='{% url "recoverpassword" %}'>
<div style="width:100%;margin-top:15px;">
<div id="changepassword_message">
{% include "notifications.html" %}
</div>

<div class="clearfix">
<div class="input-prepend">
<span class="add-on">Current Email</span>
<input class="span4" id="id_email" name="id_email" size="16" type="text" placeholder="Email Address">
</div>
</div>
<div class="clearfix" id="call_to_action_wrapper">
<input type="submit" id="new_call_to_action" class="btn primary" value="Recover Password">
</div>


</div>
{% csrf_token %}
</form>
<script type='text/javascript'>
//form validation
  $(document).ready(function(){
    $("#recoverpasswordform_form").validate({
    rules:{

            id_email:
            {
            required:true,
            email:true,
            }
    },
          messages: {
        id_email: {
        required: "Rlease Provide your email address",
        email: "Please provide a valid email address"
      },
    },
    });
    });

</script>


</div>

</div>

{% endif %}
</div>