 <div class="container slider_container"><!--start container-->
            <div class="center_content">

            <div class="content">
                 <h2>Our <strong>Users</strong> Love B-LINK</h2>
                    <div class="top_text">
                        <p style="font-size:19px;">Trusted all over Uganda. B-Link has been used by most Ugandan citizens to acquire information about EDucation, health, civics, livelihood, HIV/AIDS care and many more. </p>
                    </div>

                <div id="slider_content">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="slide_items">
                                    <p>I would like to endorse blink-net.com. Very agile terrific customer care and reliable. I am looking forward to the IPO.</p>
                                    <div class="slider_box">
                                        <div class="slider_pic"><img src="{{STATIC_URL}}images/joseph.png" alt="Joseph"/></div>
                                        <h3>Joel Muhwezi</h3>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="slide_items">
                                    <p>An excellent and efficient way to get updated and Real-time information. </p>
                                    <div class="slider_box">
                                        <div class="slider_pic"><img src="{{STATIC_URL}}images/lynn.png" alt="lynn"/></div>
                                        <h3>Lynn Kirabo</h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="slide_items">
                                    <p>Just accessed blink-net.com. Awesome and updated health care guidance, counselling and online education directories. #HappyCustomer.</p>
                                    <div class="slider_box">
                                        <div class="slider_pic"><img src="{{STATIC_URL}}images/brenda.png" alt="brenda"/></div>
                                        <h3>Brenda Nagasha</h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div><!--//end .container-->
