{% extends "faq_base.html" %}





{% block content %}

<section class="tos">
<div id="pageDiv" class="ultralightShadow content margin">
        
        <div class="page-header">
                        <h2>Terms Of Service</h2>
                    </div>

        <p>
            This User Agreement (“Agreement”) is effective as of <b>November 12, 2012</b>, 
            and describes the terms by which you will be bound when you use the services accessible 
            at {{BASE_URL}} (<b>“Service”</b>).  Do not use the Service if you do not 
            agree to be bound by these terms.  By using the Service you agree to everything contained 
            in this User Agreement.
        </p>

        <p>
            As used throughout this Agreement, the terms <b>“{{APP_NAME}}”</b>, <b>“Redcore Interactive”</b>, 
            <b>“we”</b>, <b>“us”</b>, and <b>“our”</b> refer to 
          Redcore Interactive Limited, d/b/a {{APP_NAME}}, together with its employees, directors, 
            successors, and assignees. The terms <b>“you”</b> and <b>“your”</b> 
             refer to users of the Service, whether as Senders or Recipients.
        </p>

        <h2>1. THE SERVICE</h2>
        <p>
            We recommend you use the Service to send money to friends and family and, therefore, 
            you should not use the Service to send money to strangers.</p>

        <p>
            The Service allows users to send payments from the United States Or United Kingdom to the  Uganda.  
            A <b>“Sender”</b> uses the Service to send money and a <b>“Recipient”</b>
            receives money through the Service.  A <b>“Transaction”</b> refers to an 
            order to send money through the Service. The <b>“Transaction Amount”</b> 
            is the amount in US dollars that the Sender provides to {{APP_NAME}} for transmittal to the Recipient.  
            The <b>“Payout Amount”</b> is the amount paid out to the Recipient, excluding any 
            taxes or charges that may be levied under the laws of the Republic of the  Uganda (the 
            <b>“Local Taxes”</b>).
        </p>

        <h2>2. ELIGIBILITY FOR THE SERVICE</h2>
        <ol class="alpha">
            <li><b>Age and Capacity.</b> You must be at least eighteen (18) years old to access or 
                use the Service as a Sender. You must be able to form legally binding contracts under 
                applicable law. Other restrictions may apply.</li>
            <li><b>Offer and Acceptance.</b> If you submit a Transaction, you are requesting that we 
                process your Transaction, an offer that we may accept or reject at our sole discretion.</li>
        </ol>

        <h2>3. PAYING FOR THE SERVICE</h2>
        <ol class="alpha">
            <li><b>Charges.</b> With each Transaction you submit you are agreeing to pay us a service 
                fee (<b>“Service Fee”</b>), in addition to the Transaction Amount.  Payment 
                in US dollars is due at the time the transaction is submitted for processing.  If you submit 
                a transaction that results in us being charged NSF fees, chargeback fees, or other similar 
                costs, you agree to reimburse {{APP_NAME}} for all such fees.</li>
            <li><b>Payment.</b> In order for us to process your transaction you authorize us to charge any 
                of the payment instruments included in your payment profile (
                <b>“Payment Instrument”</b> includes your credit card, debit card or bank 
                account). If your payment fails you authorize us to re-try one or more times using the same 
                Payment Instrument. You warrant that you are a lawful user of your Payment Instrument(s).</li>
            <li><b>Other Charges.</b> We are not responsible for fees that may be imposed by financial 
                institutions associated with your Payment Instruments. For example, some credit card issuers 
                may treat the use of your credit card to use the Service as a  <b>“cash
                advance”</b> and may impose additional fees and interest cost for the transaction. {{APP_NAME}} 
                is not responsible for any NSF fees, chargeback fees, or other, 
                similar charges that might be imposed on you by your bank, credit card issuer, or other provider.</li>
        </ol>

        <h2>4. RECEIVING A REMITTANCE</h2>
        <ol class="alpha">
            <li><b> Service Providers. </b> We work with local banks and other third party outlets (each, a 
                <b>“Service Provider”</b>) to make funds available to Recipients. As a Sender, 
                you are appointing your Recipient as your agent for the purpose of receiving funds transmitted 
                through the Service. We try to provide current information on our website about the location, 
                availability, and hours of our Service Providers. However, we are not responsible for any 
                inaccurate or incomplete information that may be posted on the website.</li>
            <li><b> Verification. </b> Recipients will be required to prove their identities before receiving 
                funds by presenting valid identification.  Also, Recipients may be required to provide a 
                reference number or another similar identifier associated with their Transactions. </li>
        </ol>
      
        <h2>5. IMPORTANT SERVICE RESTRICTIONS</h2>
        <ol class="alpha">
            <li><b> General. </b> We may refuse any Transaction or limit the amount to be transferred, 
                either on a per transaction or aggregated basis.  These limits may be imposed on individual 
                accounts or linked accounts. We reserve the right at any time to modify or discontinue all 
                or any part of the Service.</li>
            <li><b> Delays. </b> Your Transaction may be delayed by our effort to verify your identity and 
                validate your Payment Instruments and otherwise comply with laws or manage our financial risk. 
                You may be entitled to a refund in certain circumstances and you may cancel your transaction at 
                any time while it is pending. </li>
            <li><b> Commercial Transactions. </b> You should not use the Service to send money except to people 
                that you know. We are not responsible for, the quality or delivery of goods or services that you 
                pay for using the Service. You accept that using the Service to pay for goods and services is at 
                your own risk.</li>
            <li><b> Unauthorized Transactions. </b> You may not use the Service in violation of this User Agreement 
                or applicable laws, rules or regulations. It is a violation of the User Agreement to use the Service 
                for any of the following: sexually-oriented materials or services, gambling activities, fraud, 
                money-laundering, the funding of terrorist organizations, or the purchase or sale of tobacco, firearms, 
                prescription drugs, or other controlled substances; or to send money to a Recipient that has violated 
                the User Agreement. If you use the Service in connection with illegal conduct, {{APP_NAME}} will report you 
                to law enforcement.</li>
            <li><b> Ineligibility. </b> Your Payment Instrument must be issued by a U.S. financial institution Or  U.K. financial institution. We may 
                refuse Transactions from certain Senders and to certain Recipients that are included on the Specially 
                Designated Nationals list, Non-cooperative Countries and Territories list, and such other lists as 
                issued by different government agencies.</li>
            <li><b> No Changes. </b>We generally do not let you change the details of your Transaction once it's submitted 
                to us for processing. It is your responsibility to make sure your Transaction details are accurate.</li>
            <li><b> Restricted Activities. </b> In connection with your use of our website or the Service, or in the course 
                of your interactions with {{APP_NAME}}, a user or a third party, you will not:
                <ol class="roman">
                    <li>Breach this User Agreement, or any other agreement between you
                        and {{APP_NAME}};</li>
                    <li>Provide false, inaccurate, or misleading information;</li>
                    <li>Refuse to cooperate in an investigation or provide confirmation
                        of your identity;</li>
                    <li>Use an anonymizing proxy;</li>
                    <li>Provide yourself a cash advance from your credit card (or help
                        others to do so);</li>
                    <li>Use any automatic device, or manual process to monitor or copy our website.</li>
                </ol>
            </li>
        </ol>
      
        <h2>6. HOW AND WHY WE COLLECT PERSONAL INFORMATION</h2>
        <ol class="alpha">
            <li><b>Privacy Policy.</b> By agreeing to this User Agreement, you acknowledge and consent 
              to <a href="{% url 'policy' %}">{{APP_NAME}}'s Privacy Policy</a>.</li>
            <li><b>Customer Identification Program.</b> U.S. law requires we obtain, verify, and record 
                information about you. We may require that you provide us with nonpublic, personal, 
                identifying information. We may also lawfully obtain information about you from other 
                sources without your knowledge, including non-personal identifying information that we 
                may obtain while you visit this website. Please see our 
                <a href="{% url 'policy' %}">Privacy Policy</a>.</li>
            <li><b>Government Disclosures.</b> We may provide information about you and your Transactions 
                to government authorities and law enforcement agencies, as described in our Privacy 
                Policy.</li>
            <li><b>Verifying information.</b> You authorize us to make any inquiries, to you or to others, 
                which are necessary to validate the information that you provide to us. This may include 
                asking you for additional information, requiring you to take steps to confirm ownership 
                of your email address or financial instruments, verifying your information against third 
                party databases, or through other sources.</li>
        </ol>

        <h2>
            7. DISPUTES, QUESTIONS AND REFUNDS<a name="refund">&nbsp;</a>
        </h2>
        <ol class="alpha">
            <li><b>General.</b> Let us know at any time if you have any problems with the Service. 
                You can contact us using the contact information at the bottom of this User Agreement.</li>
            <li><b>Refunds &amp; Complaints.</b> We typically do not give refunds unless we did something wrong. However, 
                we will consider your written request for a refund, submitted by email, fax, or U.S. mail 
                using the contact information at the bottom of this User Agreement.  When doing so, you 
                should provide the Sender's full name, address, and phone number, along with the Transaction 
                reference number, Transaction Amount, and the reason for your refund request. If we do provide 
                you a refund, we will only refund the Transaction Amount if the Transaction was not paid out 
                to the Recipient. Refunds will be credited to the same Payment Instrument used to pay for 
                the Transaction. Refunds are only made in U.S. dollars. Refund amounts will not be adjusted 
                to account for changes in the value of the U.S. dollar or foreign currency from the time your 
                Transaction was submitted. Please note that residents of certain jurisdictions may have 
                certain refund rights and complaint procedures, as described here:
                <ul class="square">
                    <li> As a Sender , you are entitled 
                        to a refund of all moneys received for transmittal within thirty days of receipt of a written 
                        request for refund unless any of the following occurs:
                        <ol class="sqaure" style="padding-top:14px;">
                            <li>The monies have been transmitted and delivered to the
                                recipient prior to receipt of the written request for a refund;</li>
                            <li>Instructions have been given committing an equivalent amount
                                of money to the person designated by the customer prior to
                                receipt of a written request for a refund;</li>
                            <li>{{APP_NAME}}, or its authorized delegate has reason to believe
                                that a crime has occurred, is occurring, or may potentially
                                occur as a result of transmitting the money as requested by the
                                customer or refunding the money as requested by the customer; or</li>
                            <li>{{APP_NAME}} is otherwise barred by law from making a refund.</li>
                        </ol>
                    </li>  
                </ul>
            </li>
        </ol>

        <h2>8. {{APP_NAME}}'S INTELLECTUAL PROPERTY</h2>
        <p>
            You acknowledge that the Service, including the content of this website, text, graphics, 
            logos, and images, as well as all other {{APP_NAME}} copyrights, trademarks, logos, and 
            product and service names are owned exclusively by Redcore Interactive, Inc. (the 
            <b>“{{APP_NAME}} Intellectual Property”</b>). You agree not to display, use, 
            copy, or modify the {{APP_NAME}} Intellectual Property in any manner. You are authorized 
            solely to view and retain a copy of the pages of this website for your own personal, 
            non-commercial use. You further agree not to: (i) use any robot, spider, scraper or other 
            automated device to access the Service; (ii) remove or alter any author, trademark or other 
            proprietary notice or legend displayed on this website (or printed pages thereof); or (iii) 
            infringe {{APP_NAME}}'s or any third party's copyright, patent, trademark, trade secret or other 
            intellectual property rights, or rights of publicity or privacy..
        </p>
        <h2>9. DISCLAIMER OF WARRANTIES</h2>
        <p>
            We make reasonable efforts to ensure that Transactions are processed in a timely manner, 
            but we make no representations or warranties regarding the time needed to complete processing 
            because the Service is dependent on many factors outside our control. Some jurisdictions do 
            not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to 
            you. This warranty gives you specific legal rights and you may also have other legal rights that 
            vary state to state. In any event, you may have a right to a refund as expressly described herein.
        </p>
        <h2>10. INDEMNITY</h2>
        <p>You agree to indemnify and hold {{APP_NAME}}, Service Providers, and their respective subsidiaries, officers, 
        agents, partners, and employees harmless from any claim or demand, including reasonable attorneys' fees, 
        made by any third party due to or arising out of your use of the Service, your connection to the Service, 
        your violation of the User Agreement, or your violation of any rights of another.</p>
        <h2>11. LIMITATION OF LIABILITY</h2>
        <p>IN NO EVENT SHALL {{APP_NAME}}, SERVICE PROVIDERS, OR THEIR RESPECTIVE SUBSIDIARIES, OFFICERS, AGENTS, PARTNERS, 
            OR EMPLOYEES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES BEYOND 
            THE SUM OF $500.00 (IN ADDITION TO REFUNDING THE TRANSACTION AMOUNT AND SERVICE FEES), INCLUDING BUT NOT LIMITED 
            TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF {{APP_NAME}} HAS BEEN ADVISED 
            OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM NEGLIGENCE ON THE PART OF {{APP_NAME}}, DISBURSEMENT PARTNERS, 
            OR THEIR RESPECTIVE SUBSIDIARIES, OFFICERS, AGENTS, PARTNERS, OR EMPLOYEES.</p>
        <h2>12. DISPUTE RESOLUTION AND GOVERNING LAW</h2>
        <ol class="decimal">
            <li><b>Governing Law.</b> This User Agreement shall be governed according to the laws of the State of 
                Washington, and all activities performed in connection with the Service shall be deemed to have been 
                performed in Washington. Any controversy, dispute, or claim arising out of or relating to the Service 
                or User Agreement (a “Claim”) shall be governed by and construed in accordance with the laws 
                of Washington, except that body of law governing conflicts of law.</li>
            <li><b>Disputes with {{APP_NAME}}.</b> If a dispute arises between you and {{APP_NAME}}, our goal is to learn about 
                and address your concerns. If we are unable to address your concerns to your satisfaction, we will seek to 
                provide you with a neutral and cost-effective means of resolving the dispute quickly. Disputes between you 
                and {{APP_NAME}} regarding the Service may be reported online to 
                via our online support; by telephone at +256783877133
                 or by mail at <a href="mailto:{{APP_EMAILS.info}}">{{APP_EMAILS.info}}</a></li>
            <li><b>Arbitration.</b> For any claim (excluding claims for injunctive or other equitable relief) where the 
                total amount of the award sought is less than $10,000.00 USD, the party requesting relief may elect to resolve 
                the dispute in a cost-effective manner through binding non-appearance-based arbitration. If a party elects 
                arbitration, that party will initiate such arbitration through an established alternative dispute resolution 
                (ADR) provider mutually agreed upon by the parties. The ADR provider and the parties must comply with the 
                following rules: a) the arbitration shall be conducted by telephone, online and/or be solely based on written 
                submissions, the specific manner shall be chosen by the party initiating the arbitration; b) the arbitration 
                shall not involve any personal appearance by the parties or witnesses unless otherwise mutually agreed by the 
                parties; and c) any judgment on the award rendered by the arbitrator may be entered in any court of competent 
                jurisdiction.</li>
            <li><b>Forum for Disputes.</b> Except as otherwise agreed by the parties or as described in section 12(c) above, 
                you agree that any claim or dispute you may have against Redcore Interactive must be resolved by a court located in King County. 
                You agree to submit to the personal jurisdiction of the courts located within King County, Washington for the purpose 
                of litigating all such claims or disputes.</li>
            <li><b>Improperly Filed Litigation.</b> All claims you bring against {{APP_NAME}} must be resolved in accordance with section 
                12 of this Agreement. All claims filed or brought contrary to section 12 shall be considered improperly filed, and a 
                breach of this Agreement. Should you file a claim contrary to section 12, {{APP_NAME}} may recover attorneys' fees and 
                costs (including in-house attorneys and paralegals) up to $1,000.00 USD, provided that {{APP_NAME}} has notified you in 
                writing of the improperly filed claim, and you have failed to promptly withdraw the claim.</li>
        </ol>
        <h2>13. ELECTRONIC COMMUNICATIONS</h2>
        <p>
            You acknowledge that this User Agreement shall be entered into electronically, and that the following categories 
            of information (<b>“Communications”</b>) may be provided by electronic means: (i) this User Agreement 
            and any amendments, modifications or supplements to it; (ii) your records of transactions through the Service; (iii) 
            any initial, periodic or other disclosures or notices provided in connection with the Service, including without 
            limitation those required by federal or state law; (iv) any customer service communications, including without limitation 
            communications with respect to claims of error or unauthorized use of the Service; (v) any other communication related 
            to the Service or {{APP_NAME}}.    
        </p>

        <p>
            The Service does not allow for Communications to be provided in paper format or through other non-electronic means. You may 
            withdraw your consent to receive Communications electronically, but if you do, your use of the Service shall be terminated. 
            In order to withdraw your consent, you must contact us using our contact information at the end of this User Agreement.
        </p>

        <h2>14. MISCELLANEOUS</h2>
        <ol class="alpha">
            <li><b> Entire Agreement. </b> The User Agreement constitutes the entire agreement between you and {{APP_NAME}} and 
                governs your use of the Service, superseding any prior agreements between you and {{APP_NAME}}.</li>
            <li><b> No Waiver. </b> The failure of {{APP_NAME}} to exercise or enforce any right or provision of the User 
                Agreement shall not constitute a waiver of such right or provision. If any provision of the User Agreement 
                is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree 
                that the arbitrator or court should endeavor to give appropriately valid effect to the intention of the User 
                Agreement as reflected in the provision, and the other provisions of the User Agreement shall remain in full 
                force and effect.</li>
            <li><b> Modification. </b> We may modify this User Agreement from time to time without notice to you, except as 
                may be required by law. You can review the most current version of the User Agreement at any time by reviewing 
                this website. You may terminate your use of the Service if you do not agree with any modification or amendment. 
                If you use the Service after the effective date of an amendment or modification, you shall be deemed to have 
                accepted that amendment or modification. You agree that you shall not modify this User Agreement and acknowledge 
                that any attempts by you to modify this User Agreement shall be void.</li>
        </ol>
        <h2>15. SECURITY</h2>
        <p>
            Your security is very important to {{APP_NAME}}, and we use a variety of security measures to make sure that your information 
            is secure. We urge you to think carefully before sending money to anyone that you do not know well. In particular, you 
            should be cautious of deals or offers that seem too good to be true. If you think you have been or might be a victim of 
            fraud, please contact us immediately by telephone at +256783877133. 
            If you are aware of anyone or any entity that is using the Service inappropriately, please email us at 
            <a href="mailto:{{APP_EMAILS.info}}">{{APP_EMAILS.info}}</a> . And if you receive any fake (phishing) emails, purporting to 
            be from {{APP_NAME}}, please forward them to us at <a href="mailto:{{APP_EMAILS.info}}">{{APP_EMAILS.info}}</a>.
        </p>

        <h2>16. CONTACT INFORMATION</h2>
        <p>
            Questions, notifications, and requests for refunds or further information can be sent to {{APP_NAME}}, as follows: 
             online customer support; by telephone at +256783877133  or 
Redcore Interactive <br>
3rd Floor, Guardian Building <br>
67A, Spring Road <br>
Bugolobi, Kampala <br>
Uganda 
        </p>

    </div>

    </section>


{% endblock %}